@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('/fonts/Inter-roman.var.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: italic;
		font-named-instance: 'Italic';
		src: url('/fonts/Inter-italic.var.woff2') format('woff2');
	}

	:root {
		color-scheme: dark;
	}

	* {
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply bg-gray-900 text-gray-400 text-100 overflow-y-scroll;
	}

	#app {
		@apply min-h-screen;
	}

	h1 {
		@apply text-200 font-bold text-gray-300;
	}

	h2 {
		@apply uppercase text-025 text-gray-500 select-none;
	}

	h3 {
		@apply text-150 font-semibold text-gray-300;
	}

	:focus {
		@apply outline-none mouse-only:ring-2 mouse-only:ring-green-400;
		@apply mouse-only:transition-shadow mouse-only:duration-100
	}

	:focus:not(:focus-visible) {
		@apply mouse-only:ring-opacity-0;
	}
}

.transition-fade-100 {
	&-enter-active, &-leave-active {
		@apply transition-opacity duration-150;
	}

	&-enter-from, &-leave-to {
		@apply opacity-0;
	}
}

.transition-fadeAndScale-fast {
	&-enter-active						{ @apply transition duration-100 ease-out; }	
	&-enter-from, &-leave-to 	{ @apply transform-gpu scale-95 opacity-0; }
	&-enter-to, &-leave-from 	{ @apply transform-gpu scale-100 opacity-100; }
	&-leave-active 						{ @apply transition duration-75 ease-out; }
}

.transition-fadeAndScale-medium {
	&-enter-active						{ @apply transition duration-225 ease-out; }	
	&-enter-from, &-leave-to 	{ @apply transform-gpu scale-95 opacity-0; }
	&-enter-to, &-leave-from 	{ @apply transform-gpu scale-100 opacity-100; }
	&-leave-active 						{ @apply transition duration-150 ease-out; }
}