@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
		font-named-instance: 'Regular';
		src: url('/fonts/Inter-roman.var.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Inter var';
		font-weight: 100 900;
		font-display: swap;
		font-style: italic;
		font-named-instance: 'Italic';
		src: url('/fonts/Inter-italic.var.woff2') format('woff2');
	}

	:root {
		color-scheme: dark;
	}

	body {
		@apply bg-gray-900 text-gray-400 text-100 overflow-y-scroll;
	}

	h1 {
		@apply text-200 font-bold text-gray-300;
	}

	h2 {
		@apply uppercase text-050 text-gray-500 select-none;
	}

	h3 {
		@apply text-150 font-semibold text-gray-300;
	}
}

.transition-fade-100 {
	&-enter-active, &-leave-active {
		@apply transition-opacity duration-150;
	}

	&-enter-from, &-leave-to {
		@apply opacity-0;
	}
}